.fixed #nprogress .bar,.spinner{
	margin-top: 50px;
}

ol, ul {
	margin-bottom: 0;
}

.menus-frame {
	margin-left: 280px;
}

.menu-main {
	min-width: 100%;
	float: left;
}

.menus-frame button[type="submit"] {
	width: 120px;
	float: right;
}

.box-footer .pagination{
	margin: 0;
}

.posts {
	margin-right: 280px;
}

.posts-left {
	float: left;
	width: 100%;
}

.posts-right {
	float: right;
	width: 260px;
	margin-right: -280px;
}

.box .form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.select-box .tab-pane {
	min-height: 42px;
	max-height: 200px;
	overflow: auto;
	padding: 12px;
	border: 1px solid #ddd;
	border-top:none;
	background-color: #fdfdfd;
}

.select-box .tab-pane ul {
	padding: 0;
	list-style: none;
}

.select-box .tab-pane ul li {
	margin: 0;
	padding: 0 0 0 22px;
	line-height: 18px;
	display: list-item;
	list-style: none;
	position: relative;
}

.select-box .tab-pane ul li label {
	margin-bottom: 8px;
	font-weight: normal !important;
	cursor: pointer;
}

.select-box .tab-pane ul li div {
	position: absolute;
	top: 1px;
	left: 0;
}

.sidebar-settings .box-footer{
	line-height: 30px;
	border-top:none;
}

.sidebar-settings .box{
	margin-bottom: 10px;
}

.sidebar-settings {
	width: 260px;
	margin-left: -280px;
	float: left;
}

.select-box .nav > li > a {
	padding: 5px 10px;
}

.nowrap th{white-space: nowrap}

.invalid {
	background-color: #f6c9cc !important;
	border-color: #f1acb1 !important;
}